$black: #111; // assigning #111 to a variable called $black
$margin: 0 2rem 2rem;
$main-width: 70rem;
$main-margin: 0 auto;
$h2-font: 900 normal 1.5rem Quicksand, sans-serif;
$form-width: 90%;
$button-bgnd-color: #3D7FCF;
$button-active-bgnd: #e5daa2;
$body-white: rgb(255, 255, 255);
$body-bgnd: #9e9100;
$chart-header-height: 4rem;
$full-width: 100%;
$historic-data-button-dimension: 2rem;
$margin-stock-ticker: .5rem 0 0 2.5rem;
