@import url(normalize.css);
html {
  font: normal normal 16px/1.2 Helvetica, sans-serif; }

body {
  background-color: white;
  position: relative;
  margin: 0 auto; }

header {
  border-bottom: 0.06rem dashed lightblue;
  margin-bottom: .11rem; }

main {
  margin: 0 auto;
  width: 70rem;
  border-right: 0.05rem dashed lightgray;
  border-left: 0.05rem dashed lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

footer {
  margin-top: 1rem;
  font: 100 normal .7rem Quicksand sans-serif;
  text-align: center;
  border-top: 0.06rem dashed lightblue; }
  footer .page-design {
    font-size: .7rem;
    line-height: .7rem; }

h2 {
  font: 900 normal 1.5rem Quicksand, sans-serif;
  color: #111;
  line-height: 1rem;
  padding: 0 0; }

p {
  font: bold normal 1rem Quicksand, sans-serif;
  color: #584;
  line-height: 1rem;
  padding: 0 0; }

form {
  width: 90%;
  margin: 0 0 1rem;
  border: .05rem #84a solid;
  border-radius: .2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

input[type="submit"] {
  padding: .4rem;
  width: 9rem;
  font-size: 1.0rem;
  color: white;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: .3rem; }

.btn {
  height: 2rem;
  width: 2rem;
  margin: 0 auto;
  padding: 0 0;
  font-size: 80%;
  color: black;
  border-radius: .3rem;
  -webkit-transition: all 2s ease;
  transition: all 2s ease; }

.pressed {
  background: #e5daa2;
  -webkit-transform: scale(1.2) rotate(360deg);
          transform: scale(1.2) rotate(360deg); }

#primary-content {
  font: bold normal 5rem Poiret One, Quicksand, sans-serif;
  color: #aaa584;
  text-align: center; }
  #primary-content::first-letter {
    font-size: 6rem; }

.company-info {
  width: 70%;
  height: 4rem;
  padding-left: 5rem;
  line-height: 1rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end; }
  .company-info h2 {
    font: 900 normal 2rem Quicksand, sans-serif;
    color: blue; }

.company-stock-info {
  width: 20%;
  height: 4rem;
  padding-left: 1.2rem;
  line-height: 1rem;
  border-right: .1rem solid lightgray; }

.stock-market-chart-display {
  width: 100%;
  height: 29.3rem;
  margin-top: 1rem;
  border: .05rem #84a solid;
  border-radius: .2rem; }

.stock-ticker-input {
  width: 8rem;
  height: 1.8rem;
  padding: 0  .4rem;
  border: 0.09rem lightgray solid;
  border-radius: .25rem;
  text-align: left; }

.stock-selector {
  width: 55%;
  padding: 1rem 0 0.4rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.search-stock-ticker {
  width: 100%;
  margin: 0.5rem 0 0 2.5rem; }

.historical-data-group {
  width: 100%;
  height: 2rem;
  margin: 0.5rem 0 0 2.5rem; }

/*# sourceMappingURL=stocks.css.map */